.popover {
  min-width: 350px;
}

.opt-btns *,
.dropdown {
  cursor: pointer;
}

svg {
  margin-right: 5px;
}

.opt-btns .dropdown {
  display: inline;
}

.mn-ln span {
  display: block;
  padding: 3px 10px;
}
